/* BASIC STYLES HERE */


.bg-main {
  background-color: #1f1d38;
}

.bg-card {
  background-color: #282546;
}

.text-white {
  color: #f1ecdf;
}

.text-secondary {
  color: #1e8da6;
}

.text-danger {
  color: #e1561b;
}

.btn-bg-primary {
  background-color: #1e8da6;
}

.card-bg-style {
  height: 80vh;
}

.img-textarea {
  height: 50vh;
  width: 100%;
  object-fit: cover;
}


textarea {
  resize: none;
  height: 80vh;
  width: 100%;
  border: 2px solid #1e8da6;
  border-radius: 4px;
  padding: 2em 2em;
  background-color: #3a3760;
  color: #f1ecdf;
}

/* label {
  color: white;
} */